<!DOCTYPE html>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--加入http://v3.bootcss.com/getting-started/功能才會支援，且要上網連到此網址:"http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>一元爽</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>
  	<div style="background-color:#FFFFFF">
    	<div class="container-fluid">
			  <div class="row">
				  <div class="col-md-12">
					 <nav class="navbar navbar-default" role="navigation" style="background:#FF7744">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button> <a class="navbar-brand" href="#" style="color:#FFF"><b>一元爽</b></a>
						</div>
					  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav"></ul>
							 <form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control">
								</div>
								<button type="submit" class="btn btn-default">
									搜尋
								</button>
							 </form>
							 <ul class="nav navbar-nav navbar-right">
								<li>
									<a href="#" style="color:#FFF">註冊商品</a>
								</li>
            		<li>
									<a href="#" style="color:#FFF">登入</a>
								</li>
							 </ul>
						 </div>
					 </nav>
				 </div>
			 </div>
			 <div class="row">
				<div class="col-md-12">
				  <div class="carousel slide" id="carousel-488840">
						<ol class="carousel-indicators">
							<li class="active" data-slide-to="0" data-target="#carousel-488840"></li>
							<li data-slide-to="1" data-target="#carousel-488840"></li>
							<li data-slide-to="2" data-target="#carousel-488840"></li>
						</ol>
            <div class="carousel-inner">
					    <div class="item active">
								<img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg">
								<div class="carousel-caption">
									<h4>
										First Thumbnail label
									</h4>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh 	ultricies vehicula ut id elit.
									</p>
								</div>
							</div>
							<div class="item">
								<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg">
								<div class="carousel-caption">
									<h4>
					 				  Second Thumbnail label
									</h4>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
								</div>
							</div>
							<div class="item">
								<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg">
								<div class="carousel-caption">
									<h4>
										Third Thumbnail label
									</h4>
									<p>
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-488840" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-488840" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
			</div>
	  	<div class="row">
	    		<div class="col-sm-3">
	    			<div class="card">
	        			<div class="card-block">
	        				<h4 class="card-title">商品名</h4>
	          				<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
	          				<p></p>
	          				<a href="#" class="btn btn-lg btn-default" type="button">Button</a>
	        			</div>
	      			</div>
	    		</div>
	    		<div class="col-sm-3">
	    			<div class="card">
	        			<div class="card-block">
	         				<h4 class="card-title">商品名</h4>
	          				<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
	          				<p></p>
	          				<a href="#" class="btn btn-lg btn-default" type="button">Button</a>
	        			</div>
	      			</div>
	    		</div>
		    	<div class="col-sm-3">
		      		<div class="card">
		        		<div class="card-block">
		          		<h4 class="card-title">商品名</h4>
		          		<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
		          		<p></p>
		          		<a href="#" class="btn btn-lg btn-default" type="button">Button</a>
		        		</div>
		      		</div>
		    	</div>
		    	<div class="col-sm-3">
		      		<div class="card">
		        		<div class="card-block">
		         			<h4 class="card-title">商品名</h4>
		          			<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
		          			<p></p>
		          			<a href="#" class="btn btn-lg btn-default" type="button">Button</a>
		        		</div>
		      		</div>
		    	</div>
  			</div>
        <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="pagination">
				<li>
					<a href="#">Prev</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">Next</a>
				</li>
			</ul>
		</div>
	</div>
</div>
		</div>
	</div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

  </body>
</html>
