<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form id="formAddUser" name="adduser" method="post" action="/adduser">
            <input id="inputUserName" type="text" placeholder="name" name="username"/><br>
            <input id="inputUserEmail" type="text" placeholder="email" name="useremail"/><br>
            <input id="inputUserPassword" type="text" placeholder="password" name="userpassword"/><br>
            <button id="btnSubmit" type="submit">submit</button>
        </form>
    </body>
</html>
