<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>一元爽-註冊商品</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style type="text/css">
        fieldset {
            padding: 10px;
            margin: 10px;
            width: 800px;
            color: #333;
            border: #E63F00 dashed 2px;
            border-radius: 8px;
            position: relative;
            top: 50px;
            /*box-shadow:2px 2px 4px #666;*/
        }

        legend {
            color: #ffffff;
            font-weight: 800;
            width: 300px;
            background: -webkit-linear-gradient(top, #FF7744 50%, #FFC8B4);
            border: #b6b6b6 solid 1px;
            padding: 3px 6px;
            border-radius: 8px;
            box-shadow: 2px 2px 4px #666;
        }

        label {
            position: relative;
            right: 350px;
        }
    </style>

</head>

<body>
    <center>
        <div class="row">
            <fieldset>
                <legend>註冊商品</legend>
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">商品名稱</label>
                                <input type="email" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">詳細資料</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">商品圖片</label>
                                <input type="file" id="exampledayset" style="position:relative; right:245px">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile" style="right:320px">天數</label>
                                <div class="btn-group" style="position:relative; right:310px">
                                    <button class="btn btn-default">Action</button>
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
												                <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li class="＃">
                                            <a href="#">5</a>
                                        </li>
                                        <li class="＃">
                                            <a href="#">10</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <br><br><br>
                        <div class="col-md-12">
                            <a href="#" class="btn btn-lg btn-block btn-primary" type="button" style="width:100px; position:relative; left:340px"><b>註冊</b></a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
    </center>
</body>

</html>
