<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>個人資料</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--<style type="text/css">
            legend {
                color:#ffffff;
                font-weight:800;
                width:100px;
                background:-webkit-linear-gradient(top,#FF7744 50%, #FFC8B4);
                border:#b6b6b6 solid 1px;
                padding:3px 6px;
                border-radius:8px;
                /*box-shadow:2px 2px 4px #666;*/
            }
    </style>-->

</head>

<body>

    <div class="container-fluid">

        <div class="row">
            <nav class="navbar navbar-default" role="navigation" style="background:#FF7744">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                          </button> <a class="navbar-brand" href="./" style="color:#FFF"><b>一元爽</b></a>
                        </div>
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                             <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="./regist.html" style="color:#FFF">註冊商品</a>
                                </li>
                                <li>
                                    <a href="./userregist" style="color:#FFF">登入</a>
                                </li>
                             </ul>
                         </div>
            </nav>
                <div class="col-md-12">
                <legend><h3><b>個人資料</b></h3></legend>
                    <!--<center>-->
                        <table>
                            <tr>
                                <td rowspan="5"><img alt="Person Image Preview" src="http://lorempixel.com/140/140/"></td>

                                <td>&nbsp&nbsp&nbsp用戶名稱：</td>
                            </tr>
                            <tr>
                                <td>&nbsp&nbsp&nbsp錢包：</td>
                            </tr>
                            <tr>
                                <td>&nbsp&nbsp&nbsp合約 id：</td>
                            </tr>
                        </table>
                    <!--</center>-->
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3><b>正在買的</b></h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        商品名稱
                                    </th>
                                    <th>
                                        id
                                    </th>
                                    <th>
                                        狀態
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active">
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        02/04/2012
                                    </td>
                                    <td>
                                        Declined
                                    </td>
                                </tr>
                                <tr class="warning">
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        03/04/2012
                                    </td>
                                    <td>
                                        Pending
                                    </td>
                                </tr>
                                <tr class="danger">
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        04/04/2012
                                    </td>
                                    <td>
                                        Call in to confirm
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3><b>正在賣的</b></h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        商品名稱
                                    </th>
                                    <th>
                                        id
                                    </th>
                                    <th>
                                        狀態
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active">
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        02/04/2012
                                    </td>
                                    <td>
                                        Declined
                                    </td>
                                </tr>
                                <tr class="warning">
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        03/04/2012
                                    </td>
                                    <td>
                                        Pending
                                    </td>
                                </tr>
                                <tr class="danger">
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        04/04/2012
                                    </td>
                                    <td>
                                        Call in to confirm
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>
